<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('Please Login')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">
    <div class="content">
        <h3>Approve hours for <span th:text="${event.title}"></span></h3>
    </div>

    <div class="columns">
        <div class="column" th:text="${event.title}"></div>
        <div class="column" th:text="${event.start}"></div>
        <div class="column" th:text="${event.stop}"></div>
        <div class="column">
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" onclick="checkAll(this)" />
                        Approve all hours
                    </label>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <th:block th:each="position : ${positions}">
        <div class="columns">
            <div class="column" th:text="${position.title}"></div>
            <div class="column" th:text="${position.start}"></div>
            <div class="column" th:text="${position.end}"></div>
            <div class="column" th:text="${position.getPositionVolunteers()}"></div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input name="check" type="checkbox"/>
                            Approve
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>

<footer>
    <th:block th:replace="fragments/footer :: footer" />
</footer>
<script th:src="@{/js/selectAlljs.js}"></script>
</body>
</html>