<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: my-header('Approve Hours')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">

    <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)">
    <div class="content">
        <h3>Approve hours for <span th:text="${event.title}"></span></h3>
    </div>
    <form th:action="@{/events/approve}" th:method="post">

    <div class="columns">
        <div class="column"><h1 class="title" th:text="${event.title}"></h1></div>
        <div class="column"><h1 class="title" th:text="${#dates.format(event.start, 'MMMM d, yyyy hh:mm a')} + ' - '+${#dates.format(event.stop, 'MMMM d, yyyy hh:mm a')}"></h1></div>
        <input type="hidden" name="eventId" th:value="${event.id}"/>
    </div>
    <hr/>

        <table class="table" style="margin: auto">
            <thead>
                <tr>
                    <th>Position</th>
                    <th colspan="2">Start Time</th>
                    <th>Total Hours</th>
                    <th>
                        <div class="field">
                            <div class="control">
                                <label class="checkbox"></label>
                                <input type="checkbox" onclick="checkAll(this)"/>
                                Approve all hours
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="position : ${volunteers.keySet()}">
                    <tr style="background: lightgrey">
                        <td th:text="${position.title}"></td>
                        <td colspan="2" th:text="${#dates.format(event.start, 'MMMM d, yyyy hh:mm a')} + ' - ' + ${#dates.format(event.stop, 'MMMM d, yyyy hh:mm a')}"></td>
                        <td colspan="2" id="hours" th:text="${event.posHours(position.start, position.end)}"></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th colspan="2">Name</th>
                        <th colspan="2">Approval Status</th>
                    </tr>
                    <th:block th:each="userPosition : ${volunteers.get(position)}">
                        <tr>
                            <td></td>
                            <td th:text="${userPosition.getUser().getFirstName()} + ' ' + ${userPosition.getUser().getLastName()}"></td>
                            <td></td>
                            <td>
                                <div class="field">
                                    <div class="control">
                                        <th:block th:if="${userPosition.isApproved()}">
                                            Approved
                                        </th:block>
                                        <th:block th:unless="${userPosition.isApproved()}">
                                            <label class="checkbox"></label>
                                            <input id="check" name="check" th:value="${userPosition.getId()}" type="checkbox" />
                                            Approve
                                        </th:block>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </th:block>
                </th:block>
            </tbody>
        </table>

        <div class="field">
            <div class="control" style="text-align: center; margin-top: 5px">
                <button class="button is-link changeBtn">Submit Hours</button>
            </div>
        </div>
    </form>
    </th:block>

    <th:block th:if="(${eventUser.id} != ${userId}) and (${eventUser.isOrganizer()} == false)">
        <div class="content has-text-black">
            <h3>You did <strong>NOT</strong> create this event and cannot update hours.</h3>
        </div>
    </th:block>
    <a class="button is-info is-large" onclick="history.back()">Go Back</a>
</div>

<!--<div class = "footerSpace"><th:block th:replace="fragments/footer :: footer" /></div>-->
<script th:src="@{/js/selectAlljs.js}"></script>
</body>
</html>