<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('Approve Hours')" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">

    <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)">
    <div class="content">
        <h3>Approve hours for <span th:text="${event.title}"></span></h3>
    </div>
    <form th:action="@{/events/approve}" th:method="post">

    <div class="columns is-mobile">
        <div class="column"><h1 class="title" th:text="${event.title}"></h1></div>
        <div class="column"><h1 class="title" th:text="${#dates.format(event.start, 'dd-MMM-yyyy HH:mm')}"></h1></div>
        <div class="column"><h1 class="title" th:text="${#dates.format(event.stop, 'dd-MMM-yyyy HH:mm')}"></h1></div>
        <input type="hidden" name="eventId" th:value="${event.id}"/>
    </div>
    <hr/>

        <table class="table">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Total Hours</th>
                    <th>
                        <div class="field">
                            <div class="control">
                                <label class="checkbox"></label>
                                <input type="checkbox" onclick="checkAll(this)"/>
                                Approve all hours
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="position : ${volunteers.keySet()}">
                    <tr style="background: lightblue">
                        <td th:text="${position.title}"></td>
                        <td th:text="${#dates.format(position.start, 'dd-MMM-yyyy HH:mm')}"></td>
                        <td th:text="${#dates.format(position.end, 'dd-MMM-yyyy HH:mm')}"></td>
                        <td id="hours" th:text="${event.posHours(position.start, position.end)}"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th></th>
                        <th>Approval Status</th>
                        <th></th>
                    </tr>
                    <th:block th:each="userPosition : ${volunteers.get(position)}">
                        <tr>
                            <td></td>
                            <td th:text="${userPosition.getUser().getFirstName()} + ' ' + ${userPosition.getUser().getLastName()}"></td>
                            <td></td>
                            <td>
                                <div class="field">
                                    <div class="control">
                                        <th:block th:if="${userPosition.isApproved()}">
                                            Approved
                                        </th:block>
                                        <th:block th:unless="${userPosition.isApproved()}">
                                            <label class="checkbox"></label>
                                            <input id="check" name="check" th:value="${userPosition.getId()}" type="checkbox" />
                                            Approve
                                        </th:block>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </th:block>
                </th:block>
            </tbody>
        </table>

        <div class="field">
            <div class="control">
                <button class="button is-link">Submit Hours</button>
            </div>
        </div>
    </form>
    </th:block>

    <th:block th:if="(${eventUser.id} != ${userId}) and (${eventUser.isOrganizer()} == false)">
        <div class="content">
            <h3>You did <strong>NOT</strong> create this event and cannot update hours.</h3>
        </div>
    </th:block>

</div>

<!--<div class = "footerSpace"><th:block th:replace="fragments/footer :: footer" /></div>-->
<script th:src="@{/js/selectAlljs.js}"></script>
</body>
</html>