<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('All Events')" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<h1>CREATE YOUR POSITIONS HERE!</h1>

<h3 th:text="${event.title}"></h3>
<h3 th:text="${#dates.format(event.start, 'MMM-dd-yyyy HH:mm')}"></h3>
<h3 th:text="${#dates.format(event.stop, 'MMM-dd-yyyy HH:mm')}"></h3>



<form th:action="@{/events/{id}/create-position(id=${event.id})}" th:method="post" th:object="${position}">
    <div class="field">
        <label class="label" for="title">Position Name:</label>
        <div class="control">
            <input type="text" id="title" class="input" name="title" placeholder="Position Name" />
            <div class="content">
                <div th:if="${#fields.hasErrors('title')}" class="notification is-warning">
                    <a class="delete"></a>
                    <strong th:errors="*{title}"></strong>
                </div>
            </div>
        </div>
    </div>

    <!--    NEED TO FIND FORM FOR DATE TIME STAMP INPUT-->
    <div class="field">
        <label class="label" for="start">Start Date and Time:</label>
        <div class="control">
            <input type="datetime-local" id="start" class="input" name="start"/>
            <div class="content">
                <div th:if="${#fields.hasErrors('start')}" class="notification is-warning">
                    <a class="delete"></a>
                    <strong th:errors="*{start}"></strong>
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label" for="end">End Date and Time:</label>
        <div class="control">
            <input type="datetime-local" id="end" class="input" name="end"/>
            <div class="content">
                <div th:if="${#fields.hasErrors('end')}" class="notification is-warning">
                    <a class="delete"></a>
                    <strong th:errors="*{end}"></strong>
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label" for="numNeeded">Number of Volunteers Needed:</label>
        <div class="control">
            <input id="numNeeded" type="number" class="input" name="numNeeded" placeholder="numNeeded" />
            <div class="content">
                <div th:if="${#fields.hasErrors('numNeeded')}" class="notification is-warning">
                    <a class="delete"></a>
                    <strong th:errors="*{numNeeded}"></strong>
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label" for="description">Description:</label>
        <div class="control">
            <input type="text" id="description" class="input" name="description" placeholder="description"/>
            <div class="content">
                <div th:if="${#fields.hasErrors('description')}" class="notification is-warning">
                    <a class="delete"></a>
                    <strong th:errors="*{description}"></strong>
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input type="hidden" name="eventId" th:value="${event.id}" />
            <button id="create-event" class="button is-success">Create Position</button>
        </div>
    </div>

</form>
<th:block th:replace="fragments/footer :: footer" />
<script type="text/javascript" th:src="@{/js/deleteNotification.js}"></script>
</body>
</html>