<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: my-header('All Events')" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.7/dist/css/bulma-calendar.min.css" />
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">
    <div class="content">
        <h1>Create Position for the event!</h1>
        <h6 class="subtitle is-6">All fields are required</h6>
        <h3 th:text="${event.title}"></h3>
        <h3 th:text="${#dates.format(event.start, 'MMM-dd-yyyy HH:mm')} + ' - ' + ${#dates.format(event.stop, 'HH:mm')}"></h3>
    </div>

    <form th:action="@{/events/{id}/create-position(id=${event.id})}" th:method="post">
        <div class="field">
            <label class="label" for="title">Position Name:</label>
            <div class="control">
                <input type="text" id="title" class="input" name="title" placeholder="Position Name" />
            </div>
        </div>

        <div class="field">
            <label class="label" for="cal">Start and End Date and Time:</label>
            <div class="control">
                <input type="date" id="cal" />
                <input type="hidden" id="start" name="start" />
                <input type="hidden" id="stop" name="stop" />
                <input type="hidden" id="end" name="end" />
            </div>
        </div>

        <div class="field">
            <label class="label" for="numNeeded">Number of Volunteers Needed:</label>
            <div class="control">
                <input id="numNeeded" type="number" class="input" name="numNeeded" placeholder="Amount needed" />
            </div>
        </div>

        <div class="field">
            <label class="label" for="description">Description:</label>
            <div class="control">
                <textarea id="description" class="textarea" name="description" placeholder="Description"></textarea>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button name="action" value="another" class="button is-info createPosition">Create Another Position</button>
            </div>
            <div class="control">
                <input type="hidden" name="eventId" th:value="${event.id}" />
                <button id="create-event" name="action" value="continue" class="button is-success createPosition">Create Position</button>
            </div>
        </div>

    </form>
</div>
<!--<div class = "footerSpace"><th:block th:replace="fragments/footer :: footer" /></div>-->
<script type="text/javascript" th:src="@{/js/enablePositionButton.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.7/dist/js/bulma-calendar.min.js"></script>
<script th:src="@{/js/bulmaCalendarjs.js}"></script>
</body>
</html>