<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('All Events')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<h1>CREATE YOUR POSITIONS HERE!</h1>

<h3 th:text="${event.title}"></h3>
<h3 th:text="${#dates.format(event.start, 'MMM-dd-yyyy HH:mm')}"></h3>
<h3 th:text="${#dates.format(event.stop, 'MMM-dd-yyyy HH:mm')}"></h3>



<form th:action="@{/events/{id}/create-position(id=${event.id})}" th:method="post">
    <div class="field">
        <div class="control">
            <label for="title">Position Name:</label>
            <input type="text" id="title" class="input" name="title" placeholder="Position Name" />
        </div>
    </div>

    <!--    NEED TO FIND FORM FOR DATE TIME STAMP INPUT-->
    <div class="field">
        <div class="control">
            <label for="start">Start Date and Time:</label>
            <input type="datetime-local" id="start" class="input" name="start"/>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label for="end">End Date and Time:</label>
            <input type="datetime-local" id="end" class="input" name="end"/>
        </div>
    </div>

    <!--    NEED TO FIND WAY TO INPUT LOCATION STRING FROM MAPBOX HERE WITH GEOLOCATION TO STORE TO DATABASE-->
    <div class="field">
        <div class="control">
            <label for="numNeeded">Number of Volunteers Needed:</label>
            <input id="numNeeded" type="number" class="input" name="numNeeded" placeholder="numNeeded" />
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label for="description">Description:</label>
            <input type="text" id="description" class="input" name="description" placeholder="description"/>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input type="hidden" name="eventId" th:value="${event.id}" />
            <button id="create-event" class="button is-success">Create Position</button>
        </div>
    </div>

</form>
<th:block th:replace="fragments/footer :: footer" />
<script type="text/javascript" th:src="@{/js/deleteNotification.js}"></script>
</body>
</html>