<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('All Events')" />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
    <link rel="stylesheet" th:href="@{/css/geocodecss.css}" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.7/dist/css/bulma-calendar.min.css" />
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">
    <div class="content">
        <h2>Event Information</h2>
        <h6 class="subtitle is-6">*All fields are required.</h6>
    </div>

    <form th:action="@{'/events/create'}" th:method="post">
        <div class="field">
            <label class="label" for="organization">Organization Name:</label>
            <div class="control">
                <input type="text"  name="organization" id="organization" class="input" placeholder="Organization..." />
            </div>
        </div>
        <div class="field">
            <label class="label" for="title">Event Name:</label>
            <div class="control">
                <input type="text"  name="title" id="title" class="input" placeholder="Event..." />
            </div>
        </div>

        <div class="field">
            <label class="label" for="venue">Venue:</label>
            <div class="control">
                <input id="venue" type="text" name="location" class="input" placeholder="Venue" />
            </div>
        </div>

        <div class="field">
            <input type="hidden" id="mapToken" name="mapToken" th:value="${mapToken}" />
            <label class="label" for="address">Address:</label>
            <div class="control">
                <div id='geocoder' class='geocoder'></div>
            </div>
        </div>
        
        <div class="field">
            <label class="label" for="cal">Start and End Date and Time:</label>
            <div class="control">
                <input type="date" id="cal" />
                <input type="hidden" id="start" name="start" />
                <input type="hidden" id="stop" name="stop" />
                <input type="hidden" id="end" />
            </div>
        </div>

        <div class="field">
            <label class="label" for="description">Description:</label>
            <div class="control">
                <textarea id="description" name="description" class="textarea" placeholder="Description"></textarea>
            </div>
        </div>

        <div class="field" id="photo">
          <input type="hidden" id="filestackAPI" name="filestackAPI" th:value="${filestackAPI}" />
            <div class="file">
                <label class="file-label">
                    <input id="picker" class="file-input" type="file" name="resume" />
                    <input type="hidden" id="fileupload" name="file" />
                    <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Upload Event Photo
                    </span>
                    </span>
                </label>
            </div>
            <div id="nameBox"></div>
            <th:block th:replace="fragments/filestack" />
        </div>

        <div class="field">
            <div class="control">
                <input type="hidden" name="eventId" th:value="${event.id}" />
                <button id="create-event" class="button is-success">Next<span class="icon"><i class="far fa-hand-point-right"></i></span></button>
            </div>
        </div>
    </form>
</div>

<div id="map"></div>
<!--<div class = "footerSpace"><th:block th:replace="fragments/footer :: footer" /></div>-->

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
<script th:src="@{/js/mapbox-geocoder-utils.js}"></script>
<script th:src="@{/js/mapGeocodejs.js}"></script>
<script th:src="@{/js/enableEventButtonjs.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.7/dist/js/bulma-calendar.min.js"></script>
<script th:src="@{/js/bulmaCalendarjs.js}"></script>
</body>
</html>