<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('All Events')" />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
    <link rel="stylesheet" th:href="@{/css/geocodecss.css}" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.7/dist/css/bulma-calendar.min.css" />

</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<form th:action="@{/events/edit/{id}(id=${event.id})}" th:method="post">
    <div class="field">
        <label class="label" for="title">Event Name:</label>
        <div class="control">
            <p>Current Event Name: <span th:text="${event.title}"></span></p>
            <input type="text"  name="title" id="title" class="input" placeholder="Event Name" />
        </div>
    </div>

    <div class="field">
        <label class="label" for="location">Location:</label>
        <div class="control">
            <p>Current Location: <span th:text="${event.location}"></span></p>
            <input id="location" type="text" name="location" class="input" placeholder="Location" />
        </div>
    </div>

    <div class="field">
        <label class="label" for="address">Address:</label>
        <div class="control">
            <p>Current Location: <span th:text="${event.address}"></span></p>
            <div id='geocoder' class='geocoder'></div>
        </div>
    </div>

    <div class="field">
        <label class="label" for="cal">Start and End Date and Time:<span style="color: red">*</span></label>
        <div class="control">
            <p>Current Start Date and Time:
                <span th:text="${#dates.format(event.start, 'dd-MMM-yyyy HH:mm')}"></span>
                <span th:text="${#dates.format(event.stop, 'dd-MMM-yyyy HH:mm')}"></span>
            </p>
            <input type="date" id="cal" />
            <input type="hidden" id="start" name="start" />
            <input type="hidden" id="stop" name="stop" />
            <input type="hidden" id="end" />
        </div>
    </div>

    <div class="field">
        <label class="label" for="description">Description:</label>
        <div class="control">
            <p>Current Event Name: <span th:text="${event.description}"></span></p>
            <input id="description" name="description" type="text" class="input" placeholder="Description"/>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input type="hidden" name="eventId" th:value="${event.id}" />
            <!--        <button id="create-eventDisabled" class="button is-success" disabled="disabled">Next→</button>-->
            <button id="create-event" class="button is-success">Next<span class="icon"><i class="far fa-hand-point-right"></i></span></button>
        </div>
    </div>

</form>
<div class = "footerSpace"><th:block th:replace="fragments/footer :: footer" /></div>
<!--<script type="text/javascript" th:src="@{/js/deleteNotification.js}"></script>-->
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
<script th:src="@{/js/key.js}"></script>
<script th:src="@{/js/mapbox-geocoder-utils.js}"></script>
<script th:src="@{/js/mapGeocodejs.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.7/dist/js/bulma-calendar.min.js"></script>
<script th:src="@{/js/bulmaCalendarjs.js}"></script>
</body>
</html>