<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('All Events')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">
    <h1>THIS IS THE EVENT LIST PAGE</h1>

    <label for="eventSearch">Search by event name:</label>
    <input id="eventSearch" type="text" onkeyup="searchEvents()" placeholder="Enter event title" />
    <label for="positionSearch">Search by position:</label>
    <input id="positionSearch" type="text" onkeyup="searchEvents()" placeholder="Enter position" />

    <div class="eventDiv">
        <div th:each="event : ${events}" class="event">
            <hr/>
            <div th:class="${event.getTitle()}">
                <a th:href="@{/events/{id}(id=${event.id})}"><h3 th:text="${event.title}"></h3></a>
                <h3 th:text="*{#dates.format(event.start, 'MMM d, yyyy H:mm')}"></h3>
                <p th:text="${event.getPositions()}"></p>
                <div th:each="pos : ${event.getPositions()}" class="positionDiv">
                    <p th:text="${pos.getTitle()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer" />
<script type="text/javascript" th:src="@{/js/deleteNotification.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    var input = '';
    var posInput = '';

    function searchEvents() {
        var eventList = document.getElementsByClassName("event");
        posInput = $('#positionSearch').val();

        let posCheck = false;
        for (let i = 0; eventList.length > i; i++) {
            posCheck = false;
            input = $('#eventSearch').val();
            var posList = $(eventList[i]).find(".positionDiv");
            if ($(eventList[i]).children().next().attr("class").indexOf(input) > -1) {
                for (let j = 0; posList.length > j; j++) {
                    if ($(posList[j]).children().text().indexOf(posInput) > -1) {
                        posCheck = true;
                    }
                }
            }
            if (posCheck) {
                $(eventList[i]).css("display", "inline")
            } else {
                $(eventList[i]).css("display", "none")
            }
        }
    }


</script>
</body>
</html>