<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('All Events')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />
<div class="container">
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label is-size-5" for="eventSearch">Search for an Event:</label>
        </div>
        <div class="field-body">
            <div class="field is-grouped">
                <div class="control is-expanded">
                    <input class="input" id="eventSearch" type="text" onkeyup="searchEvents()" placeholder="Enter event title" />
                </div>
                <div class="control is-expanded has-text-centered">
                    <input class="is-checkradio is-medium has-background-color is-white" id="posCheckbox" type="checkbox" name="posCheckbox" onclick="searchEvents()"/>
                    <label class="label" for="posCheckbox">Filter by Position</label>
                </div>
            </div>
        </div>
    </div>

    <div class="columns is-multiline is-mobile eventDiv" style="margin-top: 10px;">
        <th:block th:each="event : ${events}" th:if="*{event.getStart().after(execInfo.now)}">
            <div class="column is-one-third event">
                <div th:class="${event.title}">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <th:block th:if="${event.photo} == null or ${event.photo} == ''">
                                    <img th:src="@{/img/eventLocation.jpeg}" alt="event photo"/>
                                </th:block>
                                <th:block th:unless="${event.photo} == null or ${event.photo} == ''">
                                    <img th:src="@{${event.photo}}" alt="event photo"/>
                                </th:block>
                            </figure>
                        </div>
                        <header class="card-header">
                            <p class="card-header-title is-centered" th:text="${event.title}"></p>
                        </header>
                        <div class="card-content">
                            <div class="content has-text-black">
                                <p><strong th:text="${event.organization}"></strong></p>
                                <p th:text="${#dates.format(event.start, 'MMM-dd-yyyy HH:mm')} + ' - ' + ${#dates.format(event.stop, 'HH:mm')}"></p>
                                <th:block th:if="${event.getPositionNumsNeeded()} != 0">
                                    <p>Number of Volunteers Needed: <span th:text="${event.getPositionNumsNeeded()}"></span></p>
                                </th:block>
                                <th:block th:unless="${event.getPositionNumsNeeded()} != 0">
                                    <p>All positions have been filled, contact the organizer for this event if you're interested in it.</p>
                                </th:block>
                            </div>
                        </div>
                        <div class="positionDiv" th:each="pos: ${event.getPositions()}" hidden="hidden">
                            <p th:text="${pos.getTitle()}"></p>
                        </div>
                        <footer class="card-footer has-background-link">
                            <a class="card-footer-item has-text-white" th:href="@{/events/{id}(id=${event.id})}"><strong>View Event</strong></a>
                        </footer>
                    </div>​
                </div>
            </div>
        </th:block>
    </div>
</div>
​
​
<!--<th:block th:replace="fragments/footer :: footer" />-->
<script type="text/javascript" th:src="@{/js/search.js}" ></script>
</body>
</html>