<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: my-header('Event Information')" />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
    <link rel="stylesheet" th:href="@{/css/mapcss.css}" />
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">
    <div class="columns is-mobile">
        <div class="column">
            <div class="content">
                <h4 th:text="${#dates.format(event.start, 'MMMM d, yyyy HH:mm')} + ' - ' + ${#dates.format(event.stop, 'HH:mm')}"></h4>
                <h4 th:text="${event.location}"></h4>
                <h4 id="address" th:text="${event.address}"></h4>
                <div id="map" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></div>
                <input type="hidden" id="mapToken" name="mapToken" th:value="${mapToken}" />
            </div>
        </div>
        <div class="column has-text-centered">
            <div class="content">
                <h1 th:text="${event.title}"></h1>
                <th:block th:if="${event.photo} == null or ${event.photo} == ''">
                    <img th:src="@{/img/eventLocation.jpeg}" alt="event photo"/>
                </th:block>
                <th:block th:unless="${event.photo} == null or ${event.photo} == ''">
                    <img th:src="@{${event.photo}}" alt="event photo"/>
                </th:block>
                <p class="is-size-5 has-text-black"><i>Description: </i><span th:text="${event.description}"></span></p>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <h3>Organizer Contact Information:</h3>
                <h5 th:text="${event.organization}"></h5>
                <h5 th:text="${event.creator.firstName} + ' ' + ${event.creator.lastName}"></h5>
                <h5 th:text="${event.creator.email}"></h5>
                <h5 th:text="${event.creator.phoneNumber}"></h5>
                <a style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="button is-light" th:href="@{/users/{id}/profile(id=${event.creator.id})}">View Organizer Profile</a>
          </div>
        </div>
    </div>

    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <div class="field is-grouped">
                <div class="control" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a class="button is-success" th:href="@{/events/{id}/create-position(id=${event.id})}">Add Volunteer Positions</a></th:block>
                </div>

                <div class="control" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true) and ${event.getStart().before(execInfo.now)}"><a class="button is-info" th:href="@{/events/approve/{id}(id=${event.id})}">Approve Volunteer Hours</a></th:block>
                </div>

                <div class="control" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a class="button is-info" th:href="@{/events/volunteers/{id}(id=${event.id})}">Volunteer Contact Info</a></th:block>
                </div>

                <div class="control" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a class="button is-warning" th:href="@{/events/edit/{id}(id=${event.id})}">Edit Event</a></th:block>
                </div>

                <div class="control" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a class="button is-danger is-outlined" th:href="@{/events/delete/{id}(id=${event.id})}">Delete Event</a></th:block>
                </div>
            </div>
        </div>
    </div>

    <div class="tile is-ancestor">
        <th:block th:each="position: ${positions}">
            <div class="tile is-3 is-parent">
                <div class="tile is-child hero is-info is-bold" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 15px 0;">
                    <h6 class="title is-6 has-text-centered" th:text="${position.title}"></h6>
                    <h6 class="title is-6 has-text-centered" th:text="${#dates.format(position.start, 'MMM-dd-yyyy HH:mm')} + ' - ' + ${#dates.format(position.end, 'HH:mm')}"></h6>
                    <th:block th:if="${position.numNeeded} == 0">
                        <h6 class="title is-6 has-text-centered">This position is filled up, contact the event organizer if you're still interested!</h6>
                    </th:block>
                    <th:block th:unless="${position.numNeeded} == 0">
                        <h6 class="title is-6 has-text-centered" th:text="${position.numNeeded} + ' positions open'"></h6>
                    </th:block>

                <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)">
                    <div class="field">
                        <div class="control has-text-centered">
                            <a class="open-modal button is-light" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Text Position Volunteers</a>
                            <div class="modal">
                                <div class="modal-background close"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Write your message</p>
                                        <button class="close delete is-large" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <form th:action="@{/text/position/{id}(id = ${position.id})}" th:method="post">
                                            <div class="field">
                                                <label class="label">Message</label>
                                                <div class="control">
                                                    <textarea class="textarea" name="body" id="body" cols="30" rows="10"></textarea>
                                                </div>
                                            </div>
                                            <button class="button" type="submit">Send SMS</button>
                                        </form>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="close button">Cancel
                                            <span class="icon">
                                                <i class="fas fa-backspace"></i>
                                            </span>
                                        </button>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>

                <th:block sec:authorize="isAuthenticated()" th:if="(${eventUser.id} != ${userId})">
                    <div class="field">
                        <div class="control has-text-centered has-text-black">
                            <a class="open-modal button" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">View Details</a>
                            <div class="modal">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title" th:text="${position.title}"></p>
                                        <button class="close delete is-large" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <div class="content">
                                            <p th:text="${#dates.format(position.start, 'MMM-dd-yyyy HH:mm')} + ' - ' + ${#dates.format(position.end, 'HH:mm')}"></p>
                                            <p th:text="${position.numNeeded}"></p>
                                            <p th:text="${position.description}"></p>
                                        </div>
                                    </section>
                                    <footer class="modal-card-foot">
                                      <th:block sec:authorize="isAuthenticated()">
                                          <h6 class="title is-4 has-text-black" th:if="${userPos.contains(position.getId())}">You have already signed up for this position!</h6>
                                      </th:block>
                                      <th:block sec:authorize="isAuthenticated()" th:if="(${eventUser.id} != ${userId}) and (!${userPos.contains(position.getId())})">
                                          <th:block th:if="${position.numNeeded} == 0">
                                              <h6 class="title is-4 has-text-black">This position is full, contact the event organizer if you are still interested!</h6>
                                          </th:block>
                                          <th:block th:unless="${position.numNeeded} == 0">
                                              <a class="button is-primary volunteer-button" onclick="blockButton()" th:href="@{/events/positions/{id}/volunteer(id = ${position.id})}">Volunteer Here</a>
                                          </th:block>
                                      </th:block>
                                      <button class="close button">Cancel
                                        <span class="icon">
                                          <i class="fas fa-backspace"></i>
                                        </span>
                                      </button>
                                    </footer>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>

                    <div class="field is-grouped" style="margin: auto">
                        <div class="control" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                           <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a class="button is-small is-success" th:href="@{/events/positions/edit/{id}(id = ${position.id})}">Edit Position</a></th:block>
                        </div>
                        <div class="control" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a class="button is-small is-danger" th:href="@{/events/positions/delete/{id}(id = ${position.id})}">Delete Position</a></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>

<!--<div class ="footerSpace"><th:block th:replace="fragments/footer :: footer" /></div>-->
<script>
    function blockButton() {
        let element = document.getElementsByClassName("volunteer-button");
        element[0].classList.add("is-loading");
    }
</script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
<script th:src="@{/js/mapbox-geocoder-utils.js}"></script>
<script th:src="@{/js/mapjs.js}"></script>
<script th:src="@{/js/bulmaModalJs.js}"></script>
</body>
</html>