<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: my-header('Event Information')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<h1>THIS IS THE INDIVIDUAL EVENT PAGE</h1>

<!--<h3>Event ID:  <span th:text="${event.id}"></span></h3>-->
<h1 th:text="${event.title}"></h1>
<h4 th:text="${#dates.format(event.start, 'MMM-dd-yyyy HH:mm')}"></h4>
<h4 th:text="${#dates.format(event.stop, 'MMM-dd-yyyy HH:mm')}"></h4>
<h4 th:text="${event.location}"></h4>
<p th:text="${event.description}"></p>
<img th:src="@{${event.photo}}" alt="event photo"/>

<h3>Organizer Contact Information:</h3>
<h5 th:text="${event.getCreator().getFirstName()}"></h5>
<h5 th:text="${event.getCreator().getLastName()}"></h5>
<h5 th:text="${event.getCreator().getEmail()}"></h5>
<h5 th:text="${event.getCreator().getPhoneNumber()}"></h5>

<button th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a th:href="@{/events/{id}/create-position(id=${event.id})}">Add Volunteer Positions</a></button>
<button th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a th:href="@{/events/delete/{id}(id=${event.id})}">Delete Event</a></button>
<button th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a th:href="@{/events/edit/{id}(id=${event.id})}">Edit Event</a></button>
<button th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a th:href="@{/events/approve/{id}(id=${event.id})}">Approve Volunteer Hours</a></button>
<button th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a th:href="@{/text}">Text Message All Volunteers</a></button>


<h1>Volunteer Positions:</h1>
<div th:each="position: ${positions}">
    <h3 th:text="${position.title}"></h3>
    <h3 th:text="${#dates.format(position.start, 'MMM-dd-yyyy HH:mm')}"></h3>
    <h3 th:text="${#dates.format(position.end, 'MMM-dd-yyyy HH:mm')}"></h3>
    <h3 th:text="${position.numNeeded}"></h3>
    <h3 th:text="${position.description}"></h3>
    <button sec:authorize="isAuthenticated()" th:if="(${eventUser.id} != ${userId})"><a th:href="@{/events/positions/{id}/volunteer(id = ${position.id})}">Volunteer Here</a></button>
    <button th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a th:href="@{/events/positions/edit/{id}(id = ${position.id})}">Edit Position</a></button>
    <button th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a th:href="@{/events/positions/delete/{id}(id = ${position.id})}">Delete Position</a></button>
</div>

<th:block th:replace="fragments/footer :: footer" />
<script type="text/javascript" th:src="@{/js/deleteNotification.js}"></script>
</body>
</html>