<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: my-header('Event Information')" />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
    <link rel="stylesheet" th:href="@{/css/mapcss.css}" />
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">
    <div class="columns is-mobile">
        <div class="column">
            <div class="content">
                <!--<h3>Event ID:  <span th:text="${event.id}"></span></h3>-->
                <h4 th:text="${#dates.format(event.start, 'MMM-dd-yyyy HH:mm')}"></h4>
                <h4 th:text="${#dates.format(event.stop, 'MMM-dd-yyyy HH:mm')}"></h4>
                <h4 th:text="${event.location}"></h4>
                <h4 id="address" th:text="${event.address}"></h4>
                <div id="map"></div>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <h1 th:text="${event.title}"></h1>
                <img th:src="@{${event.photo}}" alt="event photo"/>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <p th:text="${event.description}"></p>
                <h3>Organizer Contact Information:</h3>
                <h5 th:text="${event.getCreator().getFirstName()}"></h5>
                <h5 th:text="${event.getCreator().getLastName()}"></h5>
                <h5 th:text="${event.getCreator().getEmail()}"></h5>
                <h5 th:text="${event.getCreator().getPhoneNumber()}"></h5>
            </div>
        </div>
    </div>

        <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a class="button is-success" th:href="@{/events/{id}/create-position(id=${event.id})}">Add Volunteer Positions</a></th:block>
        <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a class="button is-danger" th:href="@{/events/delete/{id}(id=${event.id})}">Delete Event</a></th:block>
        <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a class="button is-warning" th:href="@{/events/edit/{id}(id=${event.id})}">Edit Event</a></th:block>
        <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a class="button is-info" th:href="@{/events/approve/{id}(id=${event.id})}">Approve Volunteer Hours</a></th:block>
        <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a class="button is-info" th:href="@{/text}">Text Message All Volunteers</a></th:block>

    <div class="content">
        <h3>Volunteer Positions:</h3>
    </div>

        <div class="columns is-multiline is-mobile">
        <th:block th:each="position: ${positions}">
            <div class="column is-one-quarter">
                <p th:text="${position.title}"></p>
                <p th:text="${#dates.format(position.start, 'MMM-dd-yyyy HH:mm')}"></p>
                <p th:text="${#dates.format(position.end, 'MMM-dd-yyyy HH:mm')}"></p>
                <p th:text="${position.numNeeded}"></p>
                <p th:text="${position.description}"></p>
                <th:block sec:authorize="isAuthenticated()" th:if="(${eventUser.id} != ${userId})"><a class="button is-primary" th:href="@{/events/positions/{id}/volunteer(id = ${position.id})}">Volunteer Here</a></th:block>
                <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a class="button is-small is-warning" th:href="@{/events/positions/edit/{id}(id = ${position.id})}">Edit Position</a></th:block>
                <th:block th:if="(${eventUser.id} == ${userId}) and (${eventUser.isOrganizer()} == true)"><a class="button is-small is-danger" th:href="@{/events/positions/delete/{id}(id = ${position.id})}">Delete Position</a></th:block>
            </div>
        </th:block>
        </div>
</div>

<th:block th:replace="fragments/footer :: footer" />
<script type="text/javascript" th:src="@{/js/deleteNotification.js}"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
<script th:src="@{/js/key.js}"></script>
<script th:src="@{/js/mapbox-geocoder-utils.js}"></script>
<script th:src="@{/js/mapjs.js}"></script>
</body>
</html>