<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<nav class="navbar is-info is-fixed-top" role="navigation" aria-label="main navigation" th:fragment="bulma-navbar" style="padding-top: 6px;">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item is-size-4">Home</a>
            <a href="/events" class="navbar-item is-size-4">Search Events</a>
            <a href="/about-us" class="navbar-item is-size-4">About Us</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/users/{id}/profile(id=${#authentication.principal.id})}" class="navbar-item is-size-4">View Profile
            </a>
        </div>
        <div style="position:absolute; left: 35rem;">
            <figure class="image is-48x48">
                <img th:src="@{/img/newRaisedHand.png}"/>
            </figure>
        </div>
        <div style="position: absolute; left: 37rem; bottom: 0; top: 0;">
            <div class="navbar-item is-size-3 has-text-weight-semibold has-text-white">
                Path of the Volunteer
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a sec:authorize="!isAuthenticated()" th:href="@{/register}" class="button is-light"><strong>Sign up</strong>
                        <span class="icon">
                            <i class="fas fa-hands-helping"></i>
                        </span>
                    </a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="button is-light"><strong>Login</strong>
                        <span class="icon">
                            <i class="fas fa-door-open"></i>
                        </span>
                    </a>
                    <a sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().isOrganizer()} == true" href="/events/create"  class="button is-light">Create An Event
                        <span class="icon">
                            <i class="fas fa-calendar-plus"></i>
                        </span>
                    </a>
                    <form th:action="@{/logout}" th:method="post">
                        <button sec:authorize="isAuthenticated()" class="button is-light">Logout
                            <span class="icon">
                                <i class="fas fa-door-closed"></i>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

</body>
</html>