<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/header :: my-header('Edit your account')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">
	<div class="content">
		<h3>Edit your account!</h3>
	</div>

	<form th:action="@{/profile/edit}" th:method="post" th:object="${user}">
		<div class="field">
			<label class="label" for="firstName">First Name</label>
			<div class="control">
				<input type="text" id="firstName" class="input" th:field="*{firstName}" placeholder="First Name" />
			</div>
		</div>

		<div class="field">
			<label class="label" for="lastName">Last Name</label>
			<div class="control">
				<input type="text" id="lastName" class="input" th:field="*{lastName}" placeholder="Last Name"/>
			</div>
		</div>

		<div class="field">
			<label class="label" for="phoneNumber">Phone Number</label>
			<div class="control">
				<input type="text" id="phoneNumber" class="input" th:field="*{phoneNumber}" placeholder="Phone Number"/>
			</div>
		</div>

		<div class="field">
			<label class="label" for="username">Username</label>
			<div class="control">
				<input id="username" class="input" th:field="*{username}" placeholder="Username" />
				<div class="content">
					<div th:if="${#fields.hasErrors('username')}" class="notification is-warning">
						<a class="delete"></a>
						<strong th:errors="*{username}"></strong>
					</div>
				</div>
			</div>
		</div>

		<div class="field">
			<label class="label" for="email">Email</label>
			<div class="control">
				<input type="text" id="email" class="input" th:field="*{email}" placeholder="Email"/>
				<div class="content">
					<div th:if="${#fields.hasErrors('email')}" class="notification is-warning">
						<a class="delete"></a>
						<strong th:errors="*{email}"></strong>
					</div>
				</div>
			</div>
		</div>

		<div class="field">
			<label class="label" for="password">Password</label>
			<div class="control">
				<input type="password" id="password" class="input" th:field="*{password}" placeholder="Password"/>
				<div class="content">
					<div th:if="${#fields.hasErrors('password')}" class="notification is-warning"><a class="delete"></a>
						<strong th:errors="*{password}"></strong>
					</div>
				</div>
				<div id="password2" class="content" style="display:none">
					<div class="notification is-warning"><a class="delete"></a>
						<strong>Password must be between 6 and 20 characters!</strong>
					</div>
				</div>
			</div>
		</div>

<!--		<div class="field">-->
<!--			<label for="passwordConfirm">Confirm Password</label>-->
<!--			<div class="control">-->
<!--				<input type="password" id="passwordConfirm" class="input" placeholder="Confirm Password"/>-->
<!--				<div id="passwordConfirm2" class="content" style="display: none">-->
<!--					<div class="notification is-warning"><a class="delete"></a>-->
<!--						<strong>Passwords don't match!</strong>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->

		<div class="field">
			<div class="control">
<!--				<button id="editDisabled" class="button is-success" disabled="disabled">Confirm Changes</button>-->
				<button id="edit" class="button is-success">Confirm Changes</button>
			</div>
		</div>

	</form>
</div>

<th:block th:replace="fragments/footer :: footer" />
<script type="text/javascript" th:src="@{/js/deleteNotification.js}"></script>
<script type="text/javascript" th:src="@{/js/passwordjs.js}"></script>
</body>
</html>