<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('Please Login')" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">
    <div th:if="${param.error}" class="content">
        <div class="notification is-warning">
            <a class="delete"></a>
            <strong>Invalid Username and/or Password.</strong>
        </div>
    </div>
    
    <div th:if="${param.logout}" class="content">
        <div class="notification is-warning">
            <a class="delete"></a>
            <strong>You have been logged out.</strong>
        </div>
    </div>
    
    <div class="content">
        <h3>Please log in</h3>
    </div>
    <form th:action="@{/login}" th:method="post">
        <div class="field">
            <label for="username">Username</label>
            <div class="control">
                <input class="input" type="text" id="username" name="username" placeholder="Username" />
            </div>
        </div>

        <div class="field">
            <label for="password">Password</label>
            <div class="control">
                <input class="input" type="password" id="password" name="password" placeholder="Password"/>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-success">Login</button>
            </div>
        </div>
    </form>
    
</div>

<th:block th:replace="fragments/footer :: footer" />
<script type="text/javascript" th:src="@{/js/deleteNotification.js}"></script>
</body>
</html>