<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('Register')" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">
    <div class="content">
        <h2>Make an account!</h2>
        <h6 class="subtitle is-6">Fields annotated with an <span style="color: red">*</span> are required</h6>
    </div>

    <form th:action="@{/register}" th:method="post" th:object="${user}">
        <div class="field">
            <label class="label" for="firstName">First Name<span style="color: red">*</span></label>
            <div class="control">
                <input type="text" id="firstName" class="input" th:field="*{firstName}" placeholder="First Name" />
            </div>
        </div>

        <div class="field">
            <label class="label" for="lastName">Last Name<span style="color: red">*</span></label>
            <div class="control">
                <input type="text" id="lastName" class="input" th:field="*{lastName}" placeholder="Last Name"/>
            </div>
        </div>

        <div class="field">
            <label class="label" for="phoneNumber">Phone Number<span style="color: red">*</span></label>
            <div class="control">
                <input type="text" id="phoneNumber" class="input" th:field="*{phoneNumber}" placeholder="Phone Number"/>
            </div>
        </div>

        <div class="field">
            <label class="label" for="username">Username<span style="color: red">*</span></label>
            <div class="control">
                <input id="username" class="input" th:field="*{username}" placeholder="Username" />
            </div>
        </div>

        <div class="field">
            <label class="label" for="email">Email<span style="color: red">*</span></label>
            <div class="control">
                <input type="text" id="email" class="input" th:field="*{email}" placeholder="Email"/>
                <div class="content">
                    <div th:if="${#fields.hasErrors('email')}" class="notification is-warning">
                        <a class="delete"></a>
                        <strong th:errors="*{email}"></strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="password">Password<span style="color: red">*</span></label>
            <div class="control">
                <input type="password" id="password" class="input" th:field="*{password}" placeholder="Password"/>
                <div id="password2" class="content" style="display:none">
                    <div class="notification is-warning"><a class="delete"></a>
                        <strong>Password must be between 6 and 20 characters!</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="passwordConfirm">Confirm Password<span style="color: red">*</span></label>
            <div class="control">
                <input type="password" id="passwordConfirm" class="input" placeholder="Confirm Password"/>
                <div id="passwordConfirm2" class="content" style="display: none">
                    <div class="notification is-warning"><a class="delete"></a>
                        <strong>Passwords don't match!</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input id="organizer" name="organizer" type="checkbox" />Click if you are an Organization that need Volunteers!
                </label>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button id="registerDisabled" class="button is-success" disabled="disabled">Register Now</button>
                <button id="register" class="button is-success" style="display: none">Register Now</button>
            </div>
        </div>

    </form>
</div>
<div class = "footerSpace"><th:block th:replace="fragments/footer :: footer" /></div>

<script type="text/javascript" th:src="@{/js/deleteNotification.js}"></script>
<script type="text/javascript" th:src="@{/js/passwordjs.js}"></script>
</body>
</html>