<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/header :: my-header('Register')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<h3>This is your profile:</h3>
<p>User id: <span th:text="${user.id}"></span></p>
<p>Name: <span th:text="${user.getFirstName()}"></span> <span th:text="${user.getLastName()}"></span></p>
<p>Username: <span th:text="${user.getUsername()}"></span></p>
<p>Email: <span th:text="${user.getEmail()}"></span></p>
<p>Phone Number: <span th:text="${user.getPhoneNumber()}"></span></p>
<p>Number of Hours Volunteered: <span th:text="${user.getHours()}"></span></p>
<p>test:</p>
<p th:text="${user.addHours()}"></p>
<p>Is Organizer: <span th:text="${user.isOrganizer()}"></span></p>

<hr/>
<h4>Events:</h4>
	<div th:each="event: ${user.getUserEvents()}">
	<br/>
		<p th:text="*{event.title}"></p>
		<div th:each="pos: ${user.getUserPositionTitlesByEventId(event.getId())}">
			<p th:text="'Name: ' + *{pos.title} + ' Start: ' + *{pos.start} + ' End: ' + *{pos.end}"></p>
		</div>
		<hr/>
	</div>
</body>
</html>