<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: my-header('About Us')" />
    <style>
        .column {
            text-align: center;
        }
    </style>
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">
    <div class="columns">
        <div class="content has-text-centered">
        <h1 class="what"><i><strong class="what">Who We Are</strong></i></h1>
        </div>
    </div>
    <div class="columns">
        <div class="column"><h1 class="title">Nicholas Sosa</h1></div>
        <div class="column"><h1 class="title">Austin Ghigliotty</h1></div>
        <div class="column"><h1 class="title">Brandi Clinard</h1></div>
    </div>

    <div class="columns">
        <div class="column"><img th:src="@{/img/nickHeadshot.jpg}" alt="Nick S." /></div>
        <div class="column"><img th:src="@{/img/austinHeadshot.jpeg}" alt="Austin G." /></div>
        <div class="column"><img th:src="@{/img/brandiHeadshot.jpg}" alt="Brandi C." /></div>
    </div>

    <div class="columns">
        <div class="column">
            <a href="https://alumni.codeup.com/students/685"><img th:src="@{/img/codeuparrow.png}" alt="codeup" /></a>
            <a href="https://github.com/nicksosa456"><span class="icon is-large"><i class="fab fa-3x fa-github"></i></span></a>
            <a href="https://www.linkedin.com/in/nicksosa456/"><span class="icon is-large"><i class="fab fa-3x fa-linkedin"></i></span></a>
        </div>

        <div class="column">
            <a href="https://alumni.codeup.com/students/691"><img th:src="@{/img/codeuparrow.png}" alt="codeup" /></a>
            <a href="https://github.com/AustinGhigliotty"><span class="icon is-large"><i class="fab fa-3x fa-github"></i></span></a>
            <a href="https://www.linkedin.com/in/austin-ghigliotty/"><span class="icon is-large"><i class="fab fa-3x fa-linkedin"></i></span></a>
        </div>

        <div class="column">
            <a href="https://alumni.codeup.com/students/684"><img th:src="@{/img/codeuparrow.png}" alt="codeup" /></a>
            <a href="https://github.com/brandiclinard"><span class="icon is-large"><i class="fab fa-3x fa-github"></i></span></a>
            <a href="https://www.linkedin.com/in/brandi-clinard/"><span class="icon is-large"><i class="fab fa-3x fa-linkedin"></i></span></a>
        </div>

    </div>
    <div class="columns">
        <div class="blurb">
            <h1 class="what" style="text-align: center"><i><strong class="what">What We Do</strong></i></h1>
            <p class="what">&emsp; &emsp;Path of the Volunteer helps volunteers get back in the community while helping event organizers focus on the events.</p>
            <p class="what">&emsp; &emsp;Many volunteers want to be involved in their communities but maybe need to keep track of their hours for scholarships, promotions, awards, badges, etc.  We make things simple.  Once an organizer clicks to approve (or verify) the hours  a volunteer signed up for, an email is instantly generated and sent to the volunteer with their full name, the event and volunteer position information, and a thank you from the event organizer.  The volunteer hours are then combined to the volunteers total hours on their profile page to display their grand total.  Anyone else who would like to see the volunteer's profile is able to by simply visiting their profile.</p>
            <p class="what">&emsp; &emsp;Event organizers can have a hard time gathering volunteers, communicating with all volunteers and different position volunteers, and usually have a to keep up with forms and can sometimes forget to send out thank you letters or acknowledgement of time due to having to plan for another event the next day or around the corner.  Simply giving out the link to the event, a volunteer can have all needed information a click away.  When volunteers sign up for an event, emails are automatically generated to send all information to the volunteer for safe keeping, as well as adding the event and position information to the volunteer's profile.  Weather alerts? Have to delay an event? Easy.  Simply text a message to your volunteers through your profile either on your profile page or the event page itself.  We have the solution to make volunteer contact info a click away and accessible anywhere.</p>
            <p class="what">&emsp; &emsp;Enjoy your community.  Be involved. Give back. Don't stress about the paperwork and communication, it's all possible by being on the path of the volunteer.</p>
        </div>
    </div>
</div>

<!--<div class = "footerSpace"><th:block th:replace="fragments/footer :: footer" /></div>-->

</body>
</html>