<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('About Us')" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <style>
        .column {
            text-align: center;
        }
    </style>
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">
    <div class="columns is-mobile">
        <div class="column"><h1 class="title">Nicholas Sosa</h1></div>
        <div class="column"><h1 class="title">Austin Ghigliotty</h1></div>
        <div class="column"><h1 class="title">Brandi Clinard</h1></div>
    </div>

    <div class="columns is-mobile">
        <div class="column"><img th:src="@{/img/nickHeadshot.jpg}" alt="Nick S." /></div>
        <div class="column"><img th:src="@{/img/austinHeadshot.jpeg}" alt="Austin G." /></div>
        <div class="column"><img th:src="@{/img/brandiHeadshot.jpg}" alt="Brandi C." /></div>
    </div>

    <div class="columns is-mobile">
        <div class="column">
            <a href="https://alumni.codeup.com/students/685"><img th:src="@{/img/codeuparrow.png}" alt="codeup" /></a>
            <a href="https://github.com/nicksosa456"><span class="icon is-large"><i class="fab fa-3x fa-github"></i></span></a>
            <a href="https://www.linkedin.com/in/nicksosa456/"><span class="icon is-large"><i class="fab fa-3x fa-linkedin"></i></span></a>
        </div>

        <div class="column">
            <a href="https://alumni.codeup.com/students/691"><img th:src="@{/img/codeuparrow.png}" alt="codeup" /></a>
            <a href="https://github.com/AustinGhigliotty"><span class="icon is-large"><i class="fab fa-3x fa-github"></i></span></a>
            <a href="https://www.linkedin.com/in/austin-ghigliotty/"><span class="icon is-large"><i class="fab fa-3x fa-linkedin"></i></span></a>
        </div>

        <div class="column">
            <a href="https://alumni.codeup.com/students/684"><img th:src="@{/img/codeuparrow.png}" alt="codeup" /></a>
            <a href="https://github.com/brandiclinard"><span class="icon is-large"><i class="fab fa-3x fa-github"></i></span></a>
            <a href="https://www.linkedin.com/in/brandi-clinard/"><span class="icon is-large"><i class="fab fa-3x fa-linkedin"></i></span></a>
        </div>
    </div>
</div>

<!--<div class = "footerSpace"><th:block th:replace="fragments/footer :: footer" /></div>-->

</body>
</html>