<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('Path of the Volunteer')" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" th:href="@{/css/parallax.css}"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />
<!--    <header>-->
<!--        <h1>Parallax Effect</h1>-->
<!--        <p>content content content</p>-->
<!--    </header>-->

<!--<div class="container">-->
    <div class="column1 columns"  style="margin-top: 5px;">
        <div class="container column quote" style="text-align:right;">
            <div class="w3-panel w3-light-grey">
                <span style="font-size:150px;line-height:0.6em;opacity:0.2">&#10077;</span>
                <p class="w3-xlarge" style="margin-top:-40px">
                    <i>“You make a living by what you get. You make a life by what you give.”</i></p>
                <p>Winston Churchill</p>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="parallax">
            <div class="columns"></div>
            <div class="column">test</div>
            <div class="column">test</div>

        </div>
    </div>
    <div class="column3">
        <div>content</div>
    </div>
    <div class="column1"></div>
<!--</div>-->

<!--<div class="container">-->
<!--    <div class="content">-->
<!--&lt;!&ndash;        <h1>THIS IS THE HOME PAGE :)</h1>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
<!--<div class="orgList" th:each="org: ${orgList}">-->
<!--    <p th:text="${org}"></p>-->
<!--</div>-->

<!--<div class = "footerSpace"><th:block th:replace="fragments/footer :: footer" /></div>-->
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
</body>
</html>