<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('Path of the Volunteer')" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" th:href="@{/css/parallax.css}"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />
<!--    <header>-->
<!--        <h1>Parallax Effect</h1>-->
<!--        <p>content content content</p>-->
<!--    </header>-->

<!--<div class="container">-->
    <div class="column1 columns"  style="margin-top: 20px;">
        <div class="container column quote" style="text-align:right;">
            <div class="w3-panel w3-light-grey">
                <span style="font-size:150px;line-height:0.6em;opacity:0.2">&#10077;</span>
                <p class="w3-xlarge" style="margin-top:-40px">
                    <i>“You make a living by what you get. You make a life by what you give.”</i></p>
                <p>Winston Churchill</p>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="parallax"></div>
    </div>
    <div class="column3">
    </div>
    <div class="column1">
    </div>

    <div class="container">
                <div class="column4">
                </div>
                <div class="column5">
                    <div class="container2">
                        <h3 style="text-align: center"><i><strong class="what">Our Organizations</strong></i></h3>
                        <div class="orgList" th:each="org: ${orgList}">
                            <p class="what" style="text-align: center" th:text="${org}"></p>
                        </div>
                    </div>
                </div>
    </div>
<div class="column1"></div>

</body>
</html>