<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: my-header('Path of the Volunteer')" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" th:href="@{/css/parallax.css}"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />
<!--    <header>-->
<!--        <h1>Parallax Effect</h1>-->
<!--        <p>content content content</p>-->
<!--    </header>-->

<!--<div class="container">-->
    <div class="column1 columns"  style="margin-top: 20px;">
        <div class="container column quote" style="text-align:right;">
            <div class="w3-panel w3-light-grey">
                <span style="font-size:150px;line-height:0.6em;opacity:0.2">&#10077;</span>
                <p class="title has-text-black" style="margin-top:-40px">
                    <i>“You make a living by what you get. You make a life by what you give.”</i></p>
                <p class="title is-4 has-text-black">Winston Churchill</p>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="parallax">
            <p id="font" class="title is-1 has-text-white has-text-centered">Path of the Volunteer</p>
        </div>
    </div>
    <div class="column3">
    </div>
    <div class="column1">
    </div>

    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent has-text-black has-text-centered" style="margin: auto">
                <div class="tile is-child hero is-info is-bold btnShadow">
                    <p class="title is-3 has-text-semibold"><i>What We Do</i></p>
                    <p class="subtitle is-4">We provide focus on events...</p>
                    <p class="subtitle is-4">We provide communication to your volunteers...</p>
                    <p class="subtitle is-4">We eliminate the hassle of paperwork...</p>
                    <p class="subtitle is-4">We help you be involved...</p>
                </div>
            </div>
            <div class="tile is-parent has-text-black has-text-centered" style="margin: auto">
                <div class="tile is-child hero is-info is-bold btnShadow">
                    <p class="title is-3 has-text-semibold"><i>Our Organizations</i></p>
                    <th:block th:each="org: ${orgList}">
                        <p class="subtitle is-4" th:text="${org}"></p>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

</body>
</html>